html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: white;
}
body {
  padding-bottom: 48px;
  background: #030a13;
  min-height: calc(100% - 48px);
  min-height: calc(100vh - 48px);
  display: flex;
  align-items: center;
  justify-content: center;
}
body main {
  text-align: center;
  max-width: 100%;
}
body main h1 {
  font-size: 4rem;
  max-width: calc(100% - 16px);
  margin: auto;
}
body main input {
  width: 750px;
  max-width: 80%;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 5px solid white;
  outline: none;
  color: #fff;
  margin-top: 16px;
}
body main p.hint-text {
  text-transform: lowercase;
  font-size: 0.9rem;
  margin: auto;
  padding: 0;
  padding-top: 4px;
  color: #fff8;
  max-width: calc(100% - 16px);
}
body main section#result {
  min-height: 2rem;
  font-size: 2rem;
  padding-top: 16px;
  color: #fffa;
  line-height: 1.2;
}
body main section#result b {
  color: white;
}
body main a:any-link {
  max-width: calc(100% - 16px);
  display: block;
  font-size: 1.5rem;
  color: #fff8;
  margin: auto;
  margin-top: 2rem;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #141a23;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
}
@media (max-width: 768px) {
  body main h1 {
    font-size: 3rem;
  }
  body main a:any-link {
    font-size: 1.2rem;
  }
}
@media (max-width: 375px) {
  body main h1 {
    font-size: 2rem;
  }
  body main a:any-link {
    font-size: 1rem;
  }
}
